<header>
<div class="linha-amarela"></div>
<div class="image-row">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Bras%C3%A3o_do_Tocantins.svg/170px-Bras%C3%A3o_do_Tocantins.svg.png" alt="Brasão do Tocantins">
  <h1>Saúde Mental no estado do Tocantins</h1>
  <img src="https://seeklogo.com/images/B/bandeira-tocantins-logo-E0E4AD936C-seeklogo.com.png" alt="Bandeira do Tocantins">
</div>
<div class="linha-azul"></div>
</header>

<main class="outlet">
  <router-outlet></router-outlet>
</main>
