<p>home works!</p>
<div alt="Dashboard sobre x" class="dashboards1">
  <app-chart-1 [data1]="list1" [descricao]="'descricao1'" class="item"></app-chart-1>
  <app-chart-2 [data1]="list1" [descricao]="'descricao2'" class="item"></app-chart-2>
  <app-chart-1 [data1]="list1" [descricao]="'descricao3'" class="item"></app-chart-1>
  <app-chart-1 [data1]="list1" [descricao]="'descricao4'" class="item"></app-chart-1>
  <app-chart-1 [data1]="list1" [descricao]="'descricao5'" class="item"></app-chart-1>
</div>
